<section ng-show="open" ng-keyup="keyUp($event)" tabindex="1" class="modal modal-animation ng-hide modal-open" id="acl-details-modal" ng-controller="AclCtrl">

    <header>
        <a class="fa fa-times close-modal" ng-click="close()"></a>
        <h2 translate="USERS.ACLS.DETAILS.HEADER" translate-values="{ resourceId: '{{ resourceId }}' }"><!-- Access Policy Details --></h2>
    </header>

    <nav class="modal-nav" id="modal-nav">
        <a ng-click="openTab('metadata')" data-modal-tab="metadata" ng-class="{ active: tab == 'metadata' }" translate="USERS.ACLS.DETAILS.TABS.METADATA"><!-- Metadata --></a>
        <a ng-click="openTab('access')" data-modal-tab="access" ng-class="{ active: tab == 'access' }" translate="USERS.ACLS.DETAILS.TABS.ACCESS"><!-- Access --></a>
    </nav>

    <nav id="breadcrumb"></nav>

    <a ng-click="showAdjacent(true)"><i class="arrow fa fa-chevron-left"></i></a>
    <a ng-click="showAdjacent()"><i class="arrow fa fa-chevron-right"></i></a>

    <div class="modal-content"  data-modal-tab-content="metadata" data-level="1">
        <div class="modal-body">
            <div data-admin-ng-notifications="" context="acl-form"></div>
            <div class="full-col">
                <ul>
                    <li>
                        <div class="obj tbl-details">
                                <header translate="USERS.ACLS.DETAILS.METADATA.TITLE"><!-- Name --></header>
                                <div class="obj-container">
                                    <table class="main-tbl">
                                        <tr>
                                            <td>{{ 'USERS.ACLS.DETAILS.METADATA.NAME.CAPTION' | translate }}<i class="required">*</i></td>
                                            <td>
                                                <input 
                                                class="hidden-input"
                                                ng-model="metadata.name"
                                                ng-model-options="{ debounce: {'default': 500} }"
                                                ng-required="true"
                                                ng-change="save()"
                                                placeholder="{{ 'USERS.ACLS.DETAILS.METADATA.NAME.PLACEHOLDER' | translate }}">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal-content" data-modal-tab-content="access" data-level="1">
        <p class="tab-desc"></p>
        <div class="modal-body">
            <div data-admin-ng-notifications="" context="acl-form"></div>
            <div class="full-col">
                <ul>
                    <li>
                        <div class="obj list-obj">
                            <header translate="USERS.ACLS.DETAILS.TABS.ACCESS"><!-- Access Policy --></header>
                            <div class="obj-container">
                                <div class="obj tbl-list">
                                    <table class="main-tbl" ng-if="$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT')">
                                    <thead>
                                        <tr>
                                            <th translate="USERS.ACLS.DETAILS.ACCESS.TEMPLATES.TITLE"><!-- Templates --></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="obj-container padded">
                                                    <p translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.DESCRIPTION"></p>
                                                    <select chosen pre-select-from="acls"
                                                        data-width="'200px'"
                                                        data-disable-search-threshold="8"
                                                        data-search_contains="true"
                                                        ng-change="changeBaseAcl()"
                                                        ng-model="baseAclId"
                                                        ng-options="id as name for (id, name) in acls"
                                                        data-placeholder="{{ 'USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.LABEL' | translate }}"
                                                        no-results-text="'{{ 'USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.EMPTY' | translate }}'"
                                                    />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Work in progress: Here, we will fill in the currently set privileges. The backend will
                            change the format of the response. -->
                            <div class="obj-container">
                                <div class="obj tbl-list">
                                    <header translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.DETAILS"><!-- Details --></header>
                                    <div class="obj-container">
                                    <table class="main-tbl">
                                        <thead>
                                            <tr>
                                                <th translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.ROLE"><!-- Role --></th>
                                                <th translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.READ" class="fit"><!-- Read --></th>
                                                <th translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.WRITE" class="fit"><!-- Write --></th>
                                                <th translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.ADDITIONAL_ACTIONS" class="fit" ng-if="hasActions"><!--Additional Actions--></th>
                                                <th translate="USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.ACTION" class="fit"><!-- Action --></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="policy in policies">
                                                <td>
                                                    <select chosen pre-select-from="roles"
                                                        ng-disabled="!$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT')"
                                                        data-width="'200px'"
                                                        data-disable-search-threshold="8"
                                                        data-search_contains="true"
                                                        ng-model="policy.role"
                                                        ng-change="save(policy)"
                                                        ng-options="id as name for (id, name) in roles"
                                                        data-placeholder="{{ 'USERS.ACLS.DETAILS.ACCESS.ROLES.LABEL' | translate }}"
                                                        no-results-text="'{{ 'USERS.ACLS.DETAILS.ACCESS.ROLES.EMPTY' | translate }}'"
                                                    />
                                                </td>
                                                <td class="fit"><input type="checkbox" ng-model="policy.read" ng-change="save(policy)"/></td>
                                                <td class="fit"><input type="checkbox" ng-model="policy.write" ng-change="save(policy)"/></td>
                                                <td class="fit editable" ng-if="hasActions">
                                                    <div ng-if="$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT')" save="save" admin-ng-editable-multi-select mixed="false" params="policy.actions" collection="actions"></div>
                                                    <div ng-if="(!$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT'))" ng-repeat="customAction in policy.actions.value">{{ customAction }}</div>
                                                </td>
                                                <td class="fit" ng-if="$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT')"><a ng-click="deletePolicy(policy)" class="remove"></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT')" >
                                                <td colspan="5"><a ng-click="addPolicy()">+ {{ 'USERS.ACLS.DETAILS.ACCESS.ACCESS_POLICY.NEW' | translate }}</a></td>
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="btm-spacer"></div>
</section>
